---
import "../../public/less/style.less";

let title = "Ivan Milincic - Web Developer";
let description =
	"Web developer living and working from Sofia, Bulgaria. I have a strong passion for web development and technology in general. Over the years, I have explored various aspects of the tech industry, but I have discovered my true calling in web development, which is a field I genuinely love and enjoy.";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- uikit  -->
		<script
			defer
			is:client
			src="https://unpkg.com/htmx.org@1.9.2"
			integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
			crossorigin="anonymous"></script>
		<script is:client src="/uikit/dist/js/uikit.min.js"></script>
		<script is:client src="/uikit/dist/js/uikit-icons.min.js"></script>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Inter:wght@400;600&family=Playfair+Display:ital@0;1&display=swap"
			rel="stylesheet"
		/>

		<title>{title}</title>
	</head>

	<body class="uk-light uk-position-relative">
		<div class="lines">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<slot />
	</body>
</html>
